.mainCont
  width: 50vw
  background: #000
  height: 100%
  display: flex
  flex-direction: column
  @media (max-width: 560px)
    width: 70vw

  ul
    display: flex
    flex-direction: column
    justify-content: space-around
    list-style: none
    text-align: center
    padding: 0

    li
      transition: .3s ease
      margin-bottom: 5px
      .link
        padding: 2vh
        display: block
        text-align: center
        font-weight: 700
        letter-spacing: 2px
        font-size: 3vh
        color: #fff
        @media (max-width: 560px)
          font-size: 2vh
      .link:hover
        background: #260c00
        color: #ff6925
      .active
        background: #260c00
        color: #ff6925
  .hamburger
    position: absolute
    top: 1vh
    left: 0
    color: #fff
    transform-origin: left top