.header
  position: fixed
  right: 0
  left: 0
  top: 0
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1vh 20vh
  z-index: 2
  &:before
    content: ""
    height: 8vh
    position: fixed
    margin: -2vh 0
    right: 0
    left: 0
    z-index: 0
    transition: .3s ease
  a
    display: flex
    z-index: 1
    align-items: center
    .logo
      object-fit: contain
      height: 4vh
  .burger
    position: absolute
    top: 1vh
    right: 20vh
    background: #000
    border-radius: 2px
    color: #fff
    transform-origin: right top
    @media (min-width: 1660px)
      top: 1.2vh
    @media (max-width: 560px)
      transform: scale(.5)
  @media (max-width: 1260px)
    padding: 1vh 5vh
    .burger
      right: 5vh
  @media (max-width: 560px)
    padding: 1vh
    .burger
      right: 1vh
    .open
      transform: translateX(calc(-70vw + 1vh))
.black
  &:before
    background: #000
    transform: translateY(0)
.transparent
  &:before
    background: #000
    transform: translateY(-8vh)
