.mainCont
  height: calc(100vh - 7vh)
  background: no-repeat linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Slick/assets/sergio-alves-santos-PeDrafNlY2Y-unsplash.jpg") center / cover
  color: white
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  text-align: center
  padding: 0 30vh
  h1
    font-size: 9vh
    margin: 0
  p
    font-size: 4vh
  @media (max-width: 1260px)
    padding: 1vh 5vh
  @media (max-width: 560px)
    padding: 1vh
